.DS_Store
debug*
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/__pycache__
*~
*.egg-info
repo
tests/assets
samples
__pycache__
work_dir

# Packages
dist
build
lib
lib64

**/ocrd_anybaseocr/samples
**/ocrd_anybaseocr/work_dir
**/ocrd_anybaseocr/OCR-D-*
**/ocrd_anybaseocr/models/latest_net_G.pth
**/ocrd_anybaseocr/pix2pixHD