numpy >= 1.15.4
opencv-python-headless >= 3.4
ocrd-fork-ocropy >= 1.4.0a3
ocrd-fork-pylsd >= 0.0.3
click
ocrd >= 2.0.0
torch>=1.1.0
shapely
pandas
scikit-image
keras >= 2.3.0, < 2.4.0
tensorflow>=2.0
